/* tentando fazer o hover funcionar mas sem sucesso */
a:hover{
    text-decoration: none;
}

.nav-detail:hover{
    font-weight: 500!important;   
}
/* .a-nav-link:hover{
    font-weight: 500!important;
} */

.bg-roxo{
    background-color: #7e459b;
}

.font span{
    font-weight: inherit;
}

.img-carousel{
    object-fit: cover;
    height: 60vh;
    object-position: 0 35%;
}

.social-medias span{
    color:black;
    
}
.social-medias i{
    color: #7e459b;
    font-size: 1.2rem;
}

.social-medias span :hover{
    font-weight: 500;
    color: #7e459b;

}

.text-color{
    color: #ffffff
}

.habilits {
font-size: 2rem;
color: #ffffff;
}

.tamanho-card{

width: 18rem;

}
/* .tamanho-card img{
height: 100vh;
} */
.img-cards{
    object-fit: cover;
    height: 40vh;
    object-position: top;

}
.img-cards-modal{
    object-fit: cover;
    width: 35vw;
    height: 100vh;
    object-position: top;

}